
.Join p{

    font-family: Inter;
  font-size: 35px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  
  
  }
  
  .Join h4 {
    font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 2rem;
  text-align: center;
  
  }
  
  .tika{
    border-radius: 50px 0px 0px 50px;
  }
  .signUpCard p{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
  
  }
  .signUpCard h3{
    font-family: Inter;
  font-size: 48px;
  font-weight: 400;
  line-height: 58.09px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  
  }
  .signUpCard input{
    background-color: rgba(252, 247, 232, 1);
    padding: 10px;
  }
  .signUpCard button ,.signUpCard button:hover{
   background: rgba(15, 179, 187, 1);
  color: rgba(255, 255, 255, 1);
  
  padding: 1rem 4rem;
  border-radius: 2rem;
  font-family: Inter;
  font-size: 19px;
  
  }